/* @media screen and (max-width: 425px) {
    .about-concept-spot-title {
        white-space: nowrap;
        font-size: 15px;
    }
    .about-concept-spot-headline {
        white-space: nowrap;
        font-size: 40px;
    }
    .about-concept-spot-detail {
        padding: 0 10px;
    }
} */
