.fade-in {
    opacity: 0;
}

.fade-in.visible {
    animation-name: fade-in;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-on-title-container {
    position: relative;
    height: auto;
    max-height: 182px;
}

.image-container {
    height: 100%;
    position: relative;
}

.pickup_title_image {
    width: 40%;
    max-width: 700px;
    min-width: 350px;
    height: auto;
    max-height: 100%;
    transform: translateY(-35%);
}

.image-on-title-container .top_pickup_title_wrapper.title-wrapper-on-image {
    position: absolute;
    top: 0;
    width: 100%;
}
