/* aside>.brand-link {
  background: white;
}

.brand-link>.header-icon {
  width: 200px;
  font-weight: 700;
  color: #797979;
  background-color: white;
  opacity: unset;
} */

/* .sidebar-collapse>.wrapper>aside>{} */
.ql-editor {
  border: 1px solid #ccc;
}

.featured_image {
  object-fit: cover;
  width: 300px;
  aspect-ratio: 4 / 3;
}

/* .image_preview {
  display: none;
} */
