/* aside>.brand-link {
  background: white;
}

.brand-link>.header-icon {
  width: 200px;
  font-weight: 700;
  color: #797979;
  background-color: white;
  opacity: unset;
} */

/* .sidebar-collapse>.wrapper>aside>{} */
.ql-editor {
    /* border: 1px solid #ccc; */
}

.featured_image,
.profile_image {
    object-fit: cover;
    width: 300px;
    aspect-ratio: 4 / 3;
}

/* .image_preview {
  display: none;
} */

.sidebar {
    width: 150px;
}

/* サイドー横伸縮ためし */
/* .sidebar:hover {
  width: 150px;
  transition: width 0.3s;
} */

/*
#sidebar li {
  width: 100%;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

#sidebar li:hover {
  width: 200%;
}
 */

/* サイドバー上下スライド用 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 7rem;
        padding: 0;
    }
}

.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.admin-main {
    margin-top: 1rem;
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        /* position: sticky; */
        z-index: 999;
    }

    /* .admin-main {
    margin-top: 5rem;
  } */
}

.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link.active {
    color: #0d6efd;
}

/* post.index */
.bi-pencil-fill {
    margin: 0 7px 3px 0;
}

.bi-three-dots {
    margin: 7px 0 0 0;
}

.post-form {
    min-width: 110px;
}

.post-form-col {
    min-width: 270px
}

.bt_deleteForm {
    width: 10px;
}
