/* .post-detail-outline { */
.mokujibox {
	border: 1px solid #434343;
	margin: 60px 80px 0px 75px;
	padding: 25px;
	width: 100%;
	max-width: 680px;
}

/* .post-detail-outline-title { */
.mokujibox p {
	font-size: 24px;
	line-height: 30px;
	color: #505050;
	margin: 0 0 25px 0;
	font-weight: 500;
}

/* .post-detail-outline-text { */
.mokujibox li {
	margin: 0 0 25px 0;
	border-bottom: 1px solid #434343;
}

.mokujibox li a {
	font-size: 16px;
	line-height: 30px;
	color: #505050;
	text-decoration: none
}

a:hover {
	opacity: 0.7;
	transition: 0.3s;
}

/* .mokujibox {
	border: 1px solid #0074bf;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
} */

/* .mokujibox p {
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 10px;
} */

/* .mokujibox ul {
	margin: 0;
	padding-left: 20px;
} */

.dot-none {
	list-style: none;
}

.indent-1 {
	padding-left: 0;
}

.indent-2 {
	padding-left: 10px;
}

.indent-3 {
	padding-left: 20px;
}

.indent-4 {
	padding-left: 30px;
}

.indent-5 {
	padding-left: 40px;
}

.indent-6 {
	padding-left: 50px;
}
