/* 管理画面と記事詳細どちらもQuill.jsの表示に使用 */

/* .post-detail-wrapper { */
.ql-editor {
  /* margin: 50px auto 0 auto; */
  width: 850px;
  max-width: 100%;
  padding: unset;
}

/* .post-detail-headline { */
.ql-editor>h1 {
  color: #505050;
  font-weight: 500;
  /* margin: 0 0 40px 0; */
  padding: 0 0 10px 44px;
  border-bottom: 2px solid #434343;
  font-size: 24px;
  line-height: 30px;
}

/* .post-detail-explain-text-wrapper {
  .post-detail-explain-text { */
.ql-editor>p {
  padding: 0 44px;
  font-size: 16px;
  line-height: 30px;
  margin: unset;
}

/* TODO; キャプションつけれるように。画像選択時にエディタでわかりやすく */
/* .post-detail-explain-image-wrapper { */
/* .post-detail-explain-image { */
.ql-editor>p>img {
  display: inline-block;
  object-fit: cover;
  width: 300px;
  aspect-ratio: 4 / 3;

  /* display: block; */
  /* width: 500px;
  height: 290px; */
  /* background: #434343; */
  /* margin: 0 auto; */
  /* margin: 50px auto; */
}
